<!DOCTYPE html>
<html lang="en" class="theme-light">
    <head>
        <%= (slurp "templates/_head.html") %>
        <title>reClojure 2025: Speaker Profile - Jordan Miller</title>
    </head>
    <body>
        <%= (slurp "templates/_navbar.html") %>
        <header class="hero is-primary is-small">
            <div class="hero-head">
            </div>
            <div class="hero-body">
                <h1><span>reClojure</span></h1>
                <h2>Speaker Profile</h2>
            </div>
        </header>
        <div class="content">
            <div class="container is-max-desktop">
                <section class="section profile is-size-6">
                    <h1>Christian Johansen</h1>
                    <div class="speaker">
                        <img class="portrait" src="christian_johansen.jpg">
                    </div>
                    <p>
                        I am a software developer at the Norwegian Food Safety
                        Authority where I build systems with Clojure and
                        Datomic. I have 20 years of experience, and have been
                        working full-time with Clojure for the last 10 of those.
                        My career has focused on web tech, and love doing what
                        it takes to ship working software to users: from setting
                        up infrastructure to data modeling and frontend work.
                    </p>
                    <p>
                        I love sharing, and keep a blog (in Norwegian) with my
                        co-workers, give frequent talks at conferences, used to
                        teach courses, and maintain a hodge-podge of open source
                        software libraries in the Clojure ecosystem.
                    </p>
                    <div class="links">
                        <a href="https://cjohansen.no/" title="Website">
                            <i class="fa-solid fa-link"></i> <span>Website</span>
                        </a>
                        <a href="https://deff.no/@christian" title="Mastodon">
                            <i class="fa-brands fa-mastodon"></i> <span>Mastodon</span>
                        </a>
                        <a href="https://twitter.com/cjno/"
                           title="Twitter">
                            <i class="fa-brands fa-twitter"></i> <span>Twitter</span>
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>
