<!DOCTYPE html>
<html lang="en" class="theme-light">
    <head>
        <%= (slurp "templates/_head.html") %>
        <title>reClojure 2025: Speaker Profile - Jordan Miller</title>
    </head>
    <body>
        <%= (slurp "templates/_navbar.html") %>
        <header class="hero is-primary is-small">
            <div class="hero-head">
            </div>
            <div class="hero-body">
                <h1><span>reClojure</span></h1>
                <h2>Speaker Profile</h2>
            </div>
        </header>
        <div class="content">
            <div class="container is-max-desktop">
                <section class="section profile is-size-6">
                    <h1>Jakub Holý</h1>
                    <div class="speaker">
                        <img class="portrait" src="jakub_holy.jpg">
                    </div>
                    <p>
                        I was born in 1980. For the second time I was born on
                        November 17, 1989, when the communist regime of
                        Czechoslovakia begun to collapse. For the third time I
                        was born in august 2005, when a thin branch, invisible
                        in the total darkness, saved me from a fast and fatal
                        fall. I studied software engineering at the Czech
                        Technical University and humanities at the Charles
                        University, both in Prague. I also spent two enriching
                        terms at the Linköpings University in Sweden. After the
                        studies I ended up working with IBA CZ, which turned out
                        to be a warm and friendly place, full of great - nice
                        and smart - people, with challenging tasks and a lot of
                        flexibility. In 2011 I’ve moved to Norway to broaden my
                        views by living in another country and culture. I’m
                        married and live currently in Oslo, Norway. (Before
                        that, my Czech home towns have been Ostrava and Prague.)
                    </p>
                    <p>
                        In my free time I like to hike, practice martial arts,
                        meditate, read fantasy, and play pen&paper Role-Playing
                        Games. I like books by Andrzej Sapkowski and
                        (unrelated:)) admire Mahatma Gandhi. I’m vegetarian
                        because I couldn’t find any moral justification for
                        killing other beings.
                    </p>
                    <div class="links">

                        <a href="https://blog.jakubholy.net/" title="Website">
                            <i class="fa-solid fa-link"></i> <span>Website</span>
                        </a>
                        <a href="https://github.com/holyjak" title="GitHub">
                            <i class="fa-brands fa-github"></i> <span>GitHub</span>
                        </a>
                        <a href="https://www.tumblr.com/holyjak" title="Tumblr">
                            <i class="fa-brands fa-tumblr"></i> <span>Tumblr</span>
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>
