<!DOCTYPE html>
<html lang="en" class="theme-light">
    <head>
        <%= (slurp "templates/_head.html") %>
        <title>reClojure 2025: Speaker Profile - Jordan Miller</title>
    </head>
    <body>
        <%= (slurp "templates/_navbar.html") %>
        <header class="hero is-primary is-small">
            <div class="hero-head">
            </div>
            <div class="hero-body">
                <h1><span>reClojure</span></h1>
                <h2>Speaker Profile</h2>
            </div>
        </header>
        <div class="content">
            <div class="container is-max-desktop">
                <section class="section profile is-size-6">
                    <h1>Jordan Miller</h1>
                    <div class="speaker">
                        <img class="portrait" src="jordan_miller.jpg">
                    </div>
                    <p>
                        L. Jordan Miller (she/her/altgirl) is a Staff Software
                        Engineer at <a href="https://nubank.com.br/en/">Nubank</a>
                        where she focuses on Datomic developer success. Known in
                        the streets for her passion for spreadsheets she enjoys
                        connecting with engineers who appreciate the finest of
                        functions. International globetrotter and stimulation
                        seeker she has no idea how she manages to juggle so
                        many projects; she is co-author of Clojure Brain
                        Teasers, co-founder of
                        <a href="https://clojure.camp/">Clojure Camp</a> and
                        producer/host of the Lost In Lambduhhs podcast.
                        Check out her linktree here:
                        <a href="https://linktr.ee/lambduhhh">https://linktr.ee/lambduhhh</a>
                    </p>
                    <div class="links">
                        <a href="https://linktr.ee/lambduhhh" title="Website">
                            <i class="fa-solid fa-link"></i> <span>Linktree</span>
                        </a>
                        <a href="https://github.com/lambduhh" title="GitHub">
                            <i class="fa-brands fa-github"></i> <span>GitHub</span>
                        </a>
                        <a href="https://www.linkedin.com/in/lambduhhh/"
                           title="Linked-In">
                            <i class="fa-brands fa-linkedin"></i> <span>Linked-In</span>
                        </a>
                        <a href="https://clj.social/@lambduhhh" title="Mastodon">
                            <i class="fa-brands fa-mastodon"></i> <span>Mastodon</span>
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>
