<!DOCTYPE html>
<html lang="en" class="theme-light">
    <head>
        <%= (slurp "templates/_head.html") %>
        <title>reClojure 2025: Speaker Profile - Jordan Miller</title>
    </head>
    <body>
        <%= (slurp "templates/_navbar.html") %>
        <header class="hero is-primary is-small">
            <div class="hero-head">
            </div>
            <div class="hero-body">
                <h1><span>reClojure</span></h1>
                <h2>Speaker Profile</h2>
            </div>
        </header>
        <div class="content">
            <div class="container is-max-desktop">
                <section class="section profile is-size-6">
                    <h1>Kapil Reddy</h1>
                    <div class="speaker">
                        <img class="portrait" src="kapil_reddy.jpg">
                    </div>
                    <p>
                        Business-first software generalist.<br>
                        Curious educator.<br>
                        Serial community builder.<br>
                        Server whisperer.<br>
                        Sometimes dwells into film-making as time and energy permits.
                    </p>
                    <div class="links">
                        <a href="https://kapilreddy.me/" title="Website">
                            <i class="fa-solid fa-link"></i> <span>Website</span>
                        </a>
                        <a href="https://github.com/kapilreddy" title="GitHub">
                            <i class="fa-brands fa-github"></i> <span>GitHub</span>
                        </a>
                        <a href="https://twitter.com/kapilreddy" title="Twitter">
                            <i class="fa-brands fa-twitter"></i> <span>Twitter</span>
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>
