<!DOCTYPE html>
<html lang="en" class="theme-light">
    <head>
        <%= (slurp "templates/_head.html") %>
        <title>reClojure 2025: Speaker Profile - Nathan Marz</title>
    </head>
    <body>
        <%= (slurp "templates/_navbar.html") %>
        <header class="hero is-primary is-small">
            <div class="hero-head">
            </div>
            <div class="hero-body">
                <h1><span>reClojure</span></h1>
                <h2>Speaker Profile</h2>
            </div>
        </header>
        <div class="content">
            <div class="container is-max-desktop">
                <section class="section profile is-size-6">
                    <h1>Nathan Marz</h1>
                    <div class="speaker">
                        <img class="portrait" src="nathan_marz.jpg">
                    </div>
                    <p>
                        Nathan is the founder of
                        <a href="https://redplanetlabs.com/">Red Planet Labs</a>.
                        Previously he created a number of popular open-source
                        projects, the most well-known being
                        <a href="https://storm.apache.org/">Apache Storm</a>.
                        Storm was the first open-source project to enable
                        reliable processing of data at large scale in real time.
                    </p>
                    <p>
                        Nathan has programmed primarily in Clojure since
                        2010. His biggest open-source contribution in
                        Clojure is
                        <a href="https://github.com/redplanetlabs/specter">Specter</a>,
                        which enables data structures both simple and complex to
                        be queried and transformed extremely concisely and with
                        performance rivaling hand-optimized code.
                    </p>
                    <p>
                        Nathan wrote the book "Big Data: principles and best
                        practices of scalable realtime data systems".
                    </p>
                    <p>
                        Before Red Planet Labs, Nathan was an engineer at
                        Twitter where he founded one of their core
                        infrastructure teams.
                    </p>
                    <div class="links">
                        <a href="http://nathanmarz.com/" title="Website">
                            <i class="fa-solid fa-link"></i> <span>Website</span>
                        </a>
                        <a href="https://github.com/nathanmarz" title="GitHub">
                            <i class="fa-brands fa-github"></i> <span>GitHub</span>
                        </a>
                        <a href="https://twitter.com/nathanmarz" title="Twitter">
                            <i class="fa-brands fa-twitter"></i> <span>Twitter</span>
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>
