<!DOCTYPE html>
<html lang="en" class="theme-light">
    <head>
        <%= (slurp "templates/_head.html") %>
        <title>reClojure 2025: Speaker Profile - Jordan Miller</title>
    </head>
    <body>
        <%= (slurp "templates/_navbar.html") %>
        <header class="hero is-primary is-small">
            <div class="hero-head">
            </div>
            <div class="hero-body">
                <h1><span>reClojure</span></h1>
                <h2>Speaker Profile</h2>
            </div>
        </header>
        <div class="content">
            <div class="container is-max-desktop">
                <section class="section profile is-size-6">
                    <h1>Vedang Manerikar</h1>
                    <div class="speaker">
                        <img class="portrait" src="vedang_manerikar.jpg">
                    </div>
                    <p>
                        I'm Vedang Manerikar 👋, founder of
                        <a href="https://www.unravel.tech/">Unravel.tech</a>
                        and former Head of Backend Engineering at Helpshift.
                        I've been a Clojure developer for the last 15 years,
                        and I absolutely love the language.
                    </p>
                    <p>
                        At Unravel.tech, we focus on building Agentic Systems
                        and unlocking GenAI and LLM magic for our clients.
                        Here's what we've worked on recently:
                    </p>
                    <ul>
                        <li>💻 Automated migrations of large (MASSIVE) code-bases.
                            The kind that make devs lose sleep.</li>
                        <li>🔍 RAG systems to turn messy legacy data into
                            searchable gold mines.</li>
                        <li>🤖 Agent-backed "Smart" Chatbots that identify
                            intent and guide users through workflows without the
                            usual headaches.</li>
                    </ul>
                    <p>
                        I personally think Clojure devs are extremely
                        well-prepared for the LLM world, because we are used to
                        working in an un-typed REPL all through the day. Whether
                        you love or hate LLMs and GenAI, if you want to talk
                        about it, come find me!
                    </p>
                    <p>
                        I am a software developer at the Norwegian Food Safety
                        Authority where I build systems with Clojure and
                        Datomic. I have 20 years of experience, and have been
                        working full-time with Clojure for the last 10 of those.
                        My career has focused on web tech, and love doing what
                        it takes to ship working software to users: from setting
                        up infrastructure to data modeling and frontend work.
                    </p>
                    <div class="links">
                        <a href="https://vedang.me/about/" title="Website">
                            <i class="fa-solid fa-link"></i> <span>Website</span>
                        </a>
                        <a href="https://github.com/vedang" title="GitHub">
                            <i class="fa-brands fa-github"></i> <span>GitHub</span>
                        </a>
                        <a href="https://www.linkedin.com/in/vedangmanerikar"
                           title="Linked-In">
                            <i class="fa-brands fa-linkedin"></i> <span>Linked-In</span>
                        </a>
                        <a href="https://fosstodon.org/@vedang" title="Mastodon">
                            <i class="fa-brands fa-mastodon"></i> <span>Mastodon</span>
                        </a>
                        <a href="https://twitter.com/vedang" title="Twitter">
                            <i class="fa-brands fa-twitter"></i> <span>Twitter</span>
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>
