header.hero.is-primary {
    background-color: transparent;
}

header {
    background-image: url(background-dark.jpg);
    background-size: 100%;
    background-position: center 10%;
}

.navbar {
    --bulma-navbar-dropdown-arrow: #71b83f;
    --bulma-navbar-burger-color: white;
    --reclojure-navbar-alpha: 0;
    background-color: rgba(0, 0, 0, var(--reclojure-navbar-alpha));
}

.navbar-dropdown {
    padding-top: .75rem;
}

.navbar .navbar-dropdown a.navbar-item {
    transition: none;
}

.navbar .navbar-dropdown a.navbar-item:hover {
    background-color: #688bf6;
    color: white;
}

@media screen and (min-width: 1024px) {
    .navbar-item, .navbar-link {
        color: white;
    }
}

a.navbar-item:hover, .navbar-link:hover {
    --bulma-navbar-item-background-a: 0.15;
}

.content {
    background: white;
}

header h1 {
    height: calc(780px / 3);
    width: calc(1840px / 3);
    background-image: url(title.png);
    background-size: cover;
    margin: auto;
}

header h1 span {
    display: none;
}


header .hero-body {
    --bulma-hero-body-padding: 30px 10px 50px 10px;
    --bulma-hero-body-padding-medium: 40px 20px 70px 20px;
}

header h2 {
    color: white;
    font-size: 32pt;
    text-align: center;
    margin-top: -55px;
    padding-left: 45px;
}

@media screen and (max-width: 1023px) {
    header h1 {
        height: calc(780px / 4);
        width: calc(1840px / 4);

    }
    header h2 {
        font-size: 24pt;
        margin-top: -30px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    header h1 {
        height: calc(780px / 5);
        width: calc(1840px / 5);

    }
    header h2 {
        font-size: 20pt;
        margin-top: -30px;
        padding-left: 20px;
    }
}

header h2 .date {
    font-weight: bold;
}

body section:first-child {
    padding-top: 1.5rem;
}

#buy-ticket.buttons, #submit-sponsor.buttons {
    margin-bottom: 0;
}

#buy-ticket .button, #submit-sponsor .button {
    margin: auto;
}
