body {
    margin: 0;
}

nav {
    width: 100%;
    background: #ddd;
}

nav h4 {
    margin: 0;
}

nav > menu {
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav menu {
    padding: 0;
}

nav menu li {
    display: block;
}

nav > menu menu {
    display: none;
    position: absolute;
    top: 1em;
}

nav li:hover menu {
    display: block;
}

h1 { color: blue; }
