@import url("../fonts/inter.css");

:root {
    font-family: Inter, sans-serif;
}

*, *::before, *::after { box-sizing: border-box; }

body {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
