<nav id="navbar" class="navbar is-transparent is-fixed-top"
     role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu"
           aria-expanded="false" data-target="nav-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="nav-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="/">About</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Attendees</a>
                <div class="navbar-dropdown is-boxed is-right">
                    <a class="navbar-item" href="https://opencollective.com/london-clojurians/contribute/reclojure-2025-conference-pass-85870">
                        Buy tickets</a>
                    <a class="navbar-item" href="https://en-us.confcodeofconduct.com/">
                        Code of conduct</a>
                    <a class="navbar-item" href="https://maps.app.goo.gl/4JCynA1oxCR6JyLq5">
                        Location</a>
                </div>
            </div>
            <a class="navbar-item" href="/talks.html">Talks</a>
            <a class="navbar-item" href="/schedule.html">Schedule</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Past conferences</a>
                <div class="navbar-dropdown is-boxed is-right">
                    <a class="navbar-item" href="/old_site/2019">2019</a>
                    <a class="navbar-item" href="/old_site">2020</a>
                    <a class="navbar-item" href="/2021">2021</a>
                    <a class="navbar-item" href="/2022">2022</a>
                </div>
            </div>
        </div>
    </div>
</nav>
