<!DOCTYPE html>
<html lang="en" class="theme-light">
    <head>
        <%= (slurp "templates/_head.html") %>
        <title>reClojure 2025</title>
    </head>
    <body>
        <%= (slurp "templates/_navbar.html") %>
        <header class="hero is-primary is-medium">
            <div class="hero-head">
            </div>
            <div class="hero-body">
                <h1><span>reClojure</span></h1>
                <h2><span class="date">May 26 2025</span>, London UK</h2>
                <div class="sponsors">
                    <h3>Sponsored by</h3>
                    <a href="https://www.clojuriststogether.org/"
                       title="Clojurists Together">
                        <img class="clojurists"
                             src="/sponsors/clojurists_together.svg"
                             alt="Clojurists Together">
                    </a>
                    <a href="https://factorhouse.io/" title="Factor House">
                        <img class="factorhouse"
                             src="/sponsors/factor_house.svg"
                             alt="Factor House">
                    </a>
                    <a href="https://flexiana.com/" title="Flexiana">
                        <img src="/sponsors/flexiana.svg" alt="Flexiana">
                    </a>
                    <a href="https://freshcodeit.com/" title="Freshcode">
                        <img class="freshcode"
                             src="/sponsors/freshcode.svg" alt="Freshcode">
                    </a>
                    <a href="https://www.juxt.pro/" title="Juxt">
                        <img src="/sponsors/juxt.svg" alt="Juxt">
                    </a>
                    <a href="https://www.nubank.com.br/" title="Nubank">
                        <img class="nubank" src="/sponsors/nubank.svg" alt="Nubank">
                    </a>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="container is-max-desktop">
                <section id="about" class="section is-size-5">
                    <p class="is-size-4">
                        reClojure is returning <strong>this year</strong> for an
                        <strong>in-person</strong> event in the heart of London!
                    </p>
                    <p>
                        reClojure is a community-driven conference for the
                        <a href="https://clojure.org">Clojure</a> programming
                        language in the United Kingdom. It will take place at
                        <a href="https://www.bouncepingpong.com/locations/farringdon/">Bounce
                            Farringdon</a> in central London, on May 26th 2025.
                    </p>
                    <p>
                        <a href="http://nathanmarz.com/"><strong>Nathan Marz</strong></a>
                        of <a href="https://redplanetlabs.com/">Red
                            Planet Labs</a> will be giving a keynote talk on
                        <a href="https://redplanetlabs.com/learn-rama">Rama</a>,
                        and there will be <a href="talks.html">8 other exciting talks</a>
                        on the theme of <strong>Clojure innovation</strong>.
                    </p>
                </section>
                <div id="buy-ticket" class="buttons">
                    <a class="button is-primary is-medium" target="_top"
                       href="https://opencollective.com/london-clojurians/contribute/reclojure-2025-conference-pass-85870">
                        Buy a ticket to reClojure 2025 - £75
                    </a>
                </div>
                <section class="section is-size-5">
                    <p>If have any questions or want to help with the conference
                        in any way, please contact:
                        <a href="mailto:organizers@reclojure.org">organizers@reclojure.org</a>
                    </p>
                </section>
            </div>
        </div>
    </body>
</html>
