<!DOCTYPE html>
<html lang="en" class="theme-light">
    <head>
        <%= (slurp "templates/_head.html") %>
        <title>reClojure 2025: Schedule</title>
    </head>
    <body>
        <%= (slurp "templates/_navbar.html") %>
        <header class="hero is-primary is-small">
            <div class="hero-head">
            </div>
            <div class="hero-body">
                <h1><span>reClojure</span></h1>
                <h2>Schedule</h2>
            </div>
        </header>
        <div class="content">
            <div class="container is-max-desktop">
                <section class="section is-size-6">
                    <h1>Monday, May 26th, 2025</h1>
                    <table class="table schedule">
                        <tr>
                            <td>9:00</td>
                            <td><div class="break">Breakfast and registration</div></td>
                        </tr>
                        <tr>
                            <td>9:30</td>
                            <td>
                                <div class="title">Welcome to reClojure</div>
                                <div class="speaker">James Reeves</div>
                            </td>
                        </tr>
                        <tr>
                            <td>9:45</td>
                            <td>
                                <a href="/talks.html#ui_pure_simple">
                                    <div class="title">UI, Pure and Simple</div>
                                    <div class="speaker">Christian Johansen</div>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>10:15</td>
                            <td>
                                <a href="/talks.html#writing_mcp_servers">
                                    <div class="title">Writing Model Context Protocol
                                        (MCP) Servers in Clojure</div>
                                    <div class="speaker">Vedang Manerikar</div>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>10:45</td>
                            <td><div class="break">Coffee break</div></td>
                        </tr>
                        <tr>
                            <td>11:00</td>
                            <td>
                                <a href="/talks.html#datomic_at_nubank">
                                    <div class="title">Datomic at Nubank,
                                        simplicity scaled</div>
                                    <div class="speaker">Jordan Miller</div>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>11:30</td>
                            <td>
                                <a href="/talks.html#symbolic_finite_automata">
                                    <div class="title">Recognizing regular patterns
                                        in mixed-type sequences using Symbolic
                                        Finite Automata</div>
                                    <div class="speaker">Jim Newton</div>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>12:00</td>
                            <td><div class="break">Lunch</div></td>
                        </tr>
                        <tr>
                            <td>13:30</td>
                            <td>
                                <a href="/talks.html#llms_plus_clojure">
                                    <div class="title">LLMs + Clojure = Who Needs
                                        Frameworks?</div>
                                    <div class="speaker">Kapil Reddy</div>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>14:00</td>
                            <td>
                                <div class="title">Talk 9: TBD</div>
                                <div class="speaker">Speaker: TBD</div>
                            </td>
                        </tr>
                        <tr>
                            <td>14:30</td>
                            <td><div class="break">Coffee break</div></td>
                        </tr>
                        <tr>
                            <td>14:45</td>
                            <td>
                                <a href="/talks.html#electric_clojure">
                                    <div class="title">Electric Clojure:
                                        Differential Dataflow for UI</div>
                                    <div class="speaker">Dustin Getz</div>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>15:15</td>
                            <td>
                                <a href="/talks.html#brain_data_in_clojure">
                                    <div class="title">Brain Data in Clojure</div>
                                    <div class="speaker">Lorelai Lyons</div>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>15:45</td>
                            <td><div class="break">Coffee break</div></td>
                        </tr>
                        <tr>
                            <td>16:00</td>
                            <td>
                                <a href="/talks.html#rama_keynote">
                                    <div class="title">Keynote: Simple ideas with
                                        huge impact from Clojure and Rama</div>
                                    <div class="speaker">Nathan Marz</div>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>16:45</td>
                            <td>
                                <div class="title">Closing words and thanks</div>
                                <div class="speaker">James Reeves</div>
                            </td>
                        </tr>
                    </table>
                </section>
            </div>
        </div>
    </body>
</html>
