<!DOCTYPE html>
<html lang="en" class="theme-light">
    <head>
        <%= (slurp "templates/_head.html") %>
        <title>reClojure 2025: Schedule</title>
    </head>
    <body>
        <%= (slurp "templates/_navbar.html") %>
        <header class="hero is-primary is-small">
            <div class="hero-head">
            </div>
            <div class="hero-body">
                <h1><span>reClojure</span></h1>
                <h2>Schedule</h2>
            </div>
        </header>
        <div class="content">
            <div class="container is-max-desktop">
                <section class="section is-size-6">
                </section>
            </div>
        </div>
    </body>
</html>
