<!DOCTYPE html>
<html lang="en" class="theme-light">
    <head>
        <%= (slurp "templates/_head.html") %>
        <title>reClojure 2025: Schedule</title>
    </head>
    <body>
        <%= (slurp "templates/_navbar.html") %>
        <header class="hero is-primary is-small">
            <div class="hero-head">
            </div>
            <div class="hero-body">
                <h1><span>reClojure</span></h1>
                <h2>Schedule</h2>
            </div>
        </header>
        <div class="content">
            <div class="container is-max-desktop">
                <section class="section is-size-6">
                    <table class="table">
                        <tr><td>9:00</td><td>Breakfast</td></tr>
                        <tr><td>9:30</td><td>Welcome to reClojure</td></tr>
                        <tr><td>9:45</td><td>UI, Pure and Simple</td></tr>
                        <tr><td>10:15</td><td>Writing Model Context Protocol
                            (MCP) Servers in Clojure</td></tr>
                        <tr><td>10:45</td><td>Coffee break</td></tr>
                        <tr><td>11:00</td><td>Datomic at Nubank,
                            simplicity scaled</td></tr>
                        <tr><td>11:30</td><td>Recognizing regular patterns in
                            mixed-type sequences using Symbolic Finite Automata
                        </td></tr>
                        <tr><td>12:00</td><td>Lunch</td></tr>
                        <tr><td>13:30</td><td>LLMs + Clojure = Who Needs
                            Frameworks?</td></tr>
                        <tr><td>14:00</td><td>TBD</td></tr>
                        <tr><td>14:30</td><td>Coffee break</td></tr>
                        <tr><td>14:45</td><td>Electric Clojure: Differential
                            Dataflow for UI</td></tr>
                        <tr><td>15:15</td><td>Brain Data in Clojure</td></tr>
                        <tr><td>15:45</td><td>Coffee break</td></tr>
                        <tr><td>16:00</td><td>Keynote: Simple ideas with huge
                            impact from Clojure and Rama</td></tr>
                        <tr><td>16:45</td><td>Closing</td></tr>
                    </table>
                </section>
            </div>
        </div>
    </body>
</html>
