<!DOCTYPE html>
<html lang="en" class="theme-light">
    <head>
        <%= (slurp "templates/_head.html") %>
        <title>reClojure 2025: Speakers</title>
    </head>
    <body>
        <%= (slurp "templates/_navbar.html") %>
        <header class="hero is-primary is-small">
            <div class="hero-head">
            </div>
            <div class="hero-body">
                <h1><span>reClojure</span></h1>
                <h2>Speakers</h2>
            </div>
        </header>
        <div class="content">
            <div class="container is-max-desktop">
                <section id="about" class="section speaker is-size-6">
                    <h1>Pioneering Brain-Computer Interfacing (BCI)
                        Research with Clojure</h1>
                    <h2>Lorelai Lyons</h2>
                    <img class="portrait" src="speakers/lorelai_lyons.jpg">
                    <p>
                        Human-computer interaction is a continually evolving
                        domain stemming from our roots in mechanical forms of
                        computing historically. This evolution has manifested in
                        several well-known areas such as AI, social-networking,
                        cloud computing, etc; but no field is quite as
                        mysterious, misunderstood, or inaccessible as
                        Brain-Computer Interfacing. BCI research and development
                        can seem like a daunting or even impossible field to
                        break into or contribute meaningfully to.
                    </p>
                    <p>
                        This talk chronicles my interdisciplinary journey to
                        processing brain data with Clojure, and exploring the
                        unique position programmers occupy within the broader
                        BCI development ecosystem. It aims to introduce the
                        audience to the foundational areas of BCI research and
                        development, while sharing my steps taken to parse and
                        visualize real world brain data to corroborate
                        authoritative BCI studies. I'll demonstrate practical
                        techniques for parsing and visualizing neural signals
                        using Clojure, making this complex domain accessible
                        to beginners while showing veterans new application
                        domains.
                    </p>
                    <p>
                        Importantly, this presentation confronts the
                        controversial nature of BCI technology, offering a
                        balanced yet critical examination of both its
                        revolutionary potential and serious ethical concerns.
                        I intend to communicate a nuanced perspective to open
                        peoples minds and provide a foundation for further
                        inquiry into the subject. Through accessible examples,
                        I will highlight the importance of collaboration across
                        multidisciplinary teams—programmers, engineers,
                        neuroscientists, medical professionals, and other
                        stakeholders—demonstrating that no single person can
                        tackle the complexities of BCIs alone. Attendees will
                        not only discover specific pathways to contribute, but
                        will also be encouraged to engage critically with the
                        ethical dimensions of BCI technology. Many people have
                        been unexposed to these technologies, so I aim to equip
                        listeners with the necessary lexicon and framework for
                        engaging in meaningful discussions.  The session
                        concludes with my personal goal and roadmap for a
                        Clojure wrapper around the OpenBCI API and a
                        thought-provoking discussion on responsible innovation
                        in neurotechnology.
                    </p>
                </section>
            </div>
        </div>
    </body>
</html>
