<!DOCTYPE html>
<html lang="en" class="theme-light">
    <head>
        <%= (slurp "templates/_head.html") %>
        <title>reClojure 2025: Speakers</title>
    </head>
    <body>
        <%= (slurp "templates/_navbar.html") %>
        <header class="hero is-primary is-medium">
            <div class="hero-head">
            </div>
            <div class="hero-body">
                <h1><span>reClojure</span></h1>
                <h2><span class="date">May 26 2025</span>, London UK</h2>
            </div>
        </header>
        <div class="content">
            <div class="container is-max-desktop">
            </div>
        </div>
    </body>
</html>
